@font-face {
    font-family: "Montserrat";
    src: local("Montserrat-Regular"), url("../../fonts/Montserrat-Regular.ttf") format("truetype");
}

body {
    font-family: Montserrat;
    background-color: rgb(228, 217, 195);
    overflow-y: hidden;
}

.clientContainer {
    display: flex;
}

.leftSideContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 98vh;
    width: 600px;
}

.rightSideContainer {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    border-left: none;
    width: 100%;
    height: 98vh;
}

.headerContainer {
    border-bottom: 1px solid black;
    font-size: 25px;
    height: 34px;
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
}

.usernameTitle {
    margin-left: 10px;
}

.newChat {
    margin-top: -7px;
}

.headerButtons { 
    display: flex;
    column-gap: 8px;
    margin-right: 10px;
}

.newChatButton {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.newChatButton:hover {
    background-color: rgb(185, 141, 69);
    color: white;
}

.icon {
    position: absolute;
    margin-left: -6.5px;
    margin-top: -8px;
}

.options {
    margin-top: -7px;
}

.optionsButton {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.optionsButton:hover {
    background-color: rgb(185, 141, 69);
    color: white;
}

.optionsIcon {
    position: absolute;
    margin-left: -1.5px;
    margin-top: -8px;
}

.chatOptions { 
    margin-top: -7px;
    margin-right: 10px;
}

.chatOptionsButton {
    background-color: white;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.chatOptionsButton:hover {
    background-color: rgb(185, 141, 69);
    color: white;
}

.chatOptionsIcon {
    position:absolute;
    margin-left: -2px;
    margin-top: -8px;
}

.chatTitle {
    margin-left: 10px;
}

.searchAndFilterContainer {
    border-bottom: 1px solid black;
    font-size: 18px;
    height: 35px;
}

.searchAndFilterWrapper {
    display: flex;
}

.searchBar {
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    font-family: inherit;
    padding: 4px 6px;
    font-size: 12px;
    width: 200px;
    margin: 5px 8px 0px 10px;
}

.filter { 
    margin-top: 5px;
}

.filterButton {
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    font-family: inherit;
    padding: 4px 6px;
    font-size: 12px;
    cursor: pointer;
}

.filterButton:hover {
    background-color: rgb(185, 141, 69);
    color: white;
}

.groupChatButtonContainer {
    overflow-y: auto;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}

.group {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    padding: 0px 10px;
    cursor: pointer;
}

.group:hover {
    background-color: rgb(185, 141, 69);
    color: white;
}

.groupChatButtonContainerTitle {
    margin: 6px 0px;
}

.mostRecentMessage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    font-size: 12px;
}

.endOfChatsList {
    margin: 6px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meow {
    font-size: 12px;
    margin-left: 4px;
    margin-top: 6px;
}

.groupChatMessagesContainer {
    overflow-y: auto;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
}

.singleMessage {
    background-color: rgb(206, 178, 122);
    /* rgb(206, 178, 122) For the other senders' messages */
    /* rgb(177, 156, 115) For the user's messages */
    border-radius: 20px;
    padding: 6px 10px 6px;
    width: 20vw;
    margin: 5px 0px 5px 8px;

    display: none;
}

.messageHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.messageSender {
    font-weight: bold;
}

.messageTimeStamp {
    font-size: 12px;
    margin-top: 2px;
}

.editMessageButton {
    border: 1px solid black;
    background-color: white;
    /* border-radius: 20px; */
    border-radius: 50%;
    height: 17px;
    width: 17px;
    font-family: inherit;
    font-size: 10px;
    cursor: pointer;
    margin-left: 6px;

    display: none;
}

.editMessageButton:hover {
    background-color: rgb(185, 141, 69);
    color: white;
}

.editMessageIcon {
    position: relative;
    left: -3.5px;
}

.newMessageContainer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid;
    padding: 8px 8px;
}

.newMessageTextBox {
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    font-family: inherit;
    padding: 6px 8px;
    font-size: 16px;
    flex-grow: 2;
    display: flex;
    margin-right: 3px;
}

.NewMessageSendButton {
    border: 1px solid black;
    background-color: white;
    border-radius: 50%;
    font-family: inherit;
    padding: 4px 6px;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin-left: 3px;
}

.NewMessageSendButton:hover {
    background-color: rgb(185, 141, 69);
    color: white;
}

.newMessageSendIcon {
    position: absolute;
    margin-left: -9px;
    margin-top: -8px;
    /* margin-left: -6.5px; */
    /* margin-top: -8px; */
}

.userMessage {
    align-self: flex-end;
    width: 20vw;
    background-color: rgb(177, 156, 115);
}
