body {
    font-family: Montserrat;
    background-color: rgb(228, 217, 195);
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.user-wrapper {
    border: 2px solid black;
    border-radius: 20px;
    padding: 0px 40px;
}

.username-title {
    margin-top: 20px;
    text-align: center;
}

.email-title {
    margin-top: 6px;
    margin-bottom: 12px;
    text-align: center;
}

.create-chat-button {
    position: relative;
    margin-top: 12px;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    height: 28px;
    margin-bottom: 20px;
}

.create-chat-image {
    margin-top: 2px;
}

.create-chat-button:hover { 
    background-color: rgb(185, 141, 69);
    color: white;
}
